/*
    Author: GRADI KAYAMBA
    width: calc(20% + 100px) -  to calculate some related size to its parent
*/
@charset "utf-8";
kayamba { margin:0; padding:0; display:block; }
:root {
    --main-bg-color-one: #242428;
    --main-bg-color-two: #ffb416;
}
*, 
*:before, 
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
body { margin:0; }
img { border:0; }
.color-title { color:var(--main-bg-color-two); } 
.phone-arrow-down, 
.phone-arrow-up {
    display:none;
}
.tab-arrow-down { transform: rotate(270deg); display: inline-block; margin: 0 30px; }
a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    display: inline-block;
    padding: 15px;
    transition: ease-out 700ms;
}
a:hover {background-color:var(--main-bg-color-two); color:var(--main-bg-color-one);}
a:active {color:var(--main-bg-color-two); text-decoration:underline;}
header {
    background-color: var(--main-bg-color-one);
    min-height: calc(100vh - 59.438px);
    padding: 0;
    margin: 0;
}
header button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: x-large;
    padding: 10px 35px;
    margin-top: 50px;
}

nav { margin:auto; width:100%;background-color:#36486b }
nav > section{ display:inline-block; }
nav > section:first-child { width:30%; }
nav > section:first-child h1 { text-align:center; color:white; }
nav > section:last-child { width:70%; text-align:right; }

header section { color:white; text-align:center; }
header section h1 {
    font-size: 6vw;
    margin: 0;
    padding-top: 1em;
}
header section p { font-size:3vw; }

main { margin:0; }
main section:first-child {
    text-align: center;
    min-height: 100vh;
    color: var(--main-bg-color-one);
    background-image: linear-gradient(5deg, #e2e2e226, transparent);
}
main section:first-child h1 { font-size:4vw; margin: 0; padding: 30px; }
main section:first-child h1 ~ p { font-size:2vw; margin:0 20%; }
main section:first-child section {display:flex;margin:auto;flex-wrap:wrap;}
main section:first-child section div { width:45%; margin:auto; }
main section:first-child section div:first-child p { font-size:5vw; text-align:right;padding-left:40px; }
main section:first-child section div:last-child p {
    font-size: 10vw;
    text-align: left;
    margin-top: 20%;
    font-weight: bold;
}
main section:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    min-height: 100vh;
    color: var(--main-bg-color-one);
    background-color:var(--main-bg-color-one);
}
main section:nth-child(2) h2 {
    font-size: 3em;
    margin: 0;
    color: white;
    width: 100%;
    padding: 30px;
    text-shadow: 0px 0px 9px black;
}
main section:nth-child(2) div {
    height: 215px;
    padding: 15px;
    width: 26.55%;
    color: white;
    background-color: #36486b;
    border: 5px solid #706752;
    border-radius: 10px;
    margin: 20px auto;
    overflow:hidden;
    box-shadow: 0 0 3px 0px black;
    transition: background 2s;

}
main section:nth-child(2) div:hover {
    background-color: var(--main-bg-color-two);
}
main section:nth-child(2) img { max-width: 70%; }
footer {
    text-align: center;
    background-color: var(--main-bg-color-two);
    padding:1rem;
    margin: 0;
}

@media screen and (max-width:800px), screen and (max-width:1000px) and (orientation:landscape) {
    main section:nth-child(2) div {
        width: 45%;
    }
}
@media screen and (max-width:480px){
    .phone-arrow-up {
        transform: rotate(90deg);
        display: inline-block;
        margin: 0 30px;
    }
    .phone-arrow-down {
        transform: rotate(270deg);
        display: inline-block;
        margin: 0 30px;
    }

    header {height:60px;}

    nav { height:100px;overflow:scroll; }
    nav > section{ display:block; }
    nav > section a { display:block; text-align:center; }
    nav > section:first-child { background-color:var(--main-bg-color-one); z-index:1; }
    nav > section:first-child h1 { margin:13px auto; }
    nav > section:first-child,
    nav > section:last-child {
        width: 100%;
        height: 50px;
        border: 1px solid transparent;
    }
    nav > section:first-child { position:fixed; top:0;}
    nav > section:last-child { margin-top:50px; }

    header section h1 {
        font-size: 15vw;
        margin-top: 0;
        padding: 1em;
        padding-top: 20vh;
    }
    header section p {
        font-size: 6vw;
        padding: 1em;
        margin: 0;
    }

    main section { padding-top: 7vh; }
    main section:first-child h1 { font-size:15vw; }
    main section:first-child h1 ~ p {
        font-size: 7vw;
        margin: 0 10%;
        padding: 15px 0;
        border-top: 3px solid lightgray;
        border-bottom: 3px solid lightgray;
    }
    main section:first-child section div { width:100%; margin:auto; }
    main section:first-child section div:first-child p {
        font-size: 12vw;
        text-align: inherit;
        padding-left: 0;
        margin: 7vh;
        margin-top: 0;
    }
    main section:first-child section div:last-child p {
        font-size: 18vw;
        font-weight: bolder;
        text-align: inherit;
        margin-top: 0;
    }

    main section:nth-child(2) {
        background-image: none;
        border-top: 3px solid #eeeeee;
        background-color: #fcfcfc;
    }
    main section:nth-child(2) h2 {
        font-size: 12vw;
        color: var(--main-bg-color-one);
        padding: 30px;
        padding-top: 0;
        text-shadow:none;
    }
    main section:nth-child(2) div {
        width: 100%;
        background-color: var(--main-bg-color-one);
        border: none; 
        border-radius: 0;
        margin: 7.5px 15px;
        box-shadow: 0 0 7px -2px black;
    }
    main section:nth-child(2) img { max-width: 75%; }
    footer p { font-size:0.6em; }

}